<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mem_manage.css">
    <title>회원관리</title>
</head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<body>
    <div class="container">

        <!-- 상단바 -->
        <div class="top-bar">
            <div class="bar_text">관리자모드</div>
            <a href="#" class="btn_logout">LOGOUT</a>
        </div>

        <div class="bottom-section">
            <!-- 밑에 구역 3개 -->
            <div class="menu_left">
                <!-- 왼쪽 메뉴바 만들기(수정) -->
            </div>

            <div class="menu_right">
                <ul>
                    <li class="now_state"><a href="#">회원관리</a></li>
                    <li><a href="/html/info_manage">공지사항</a></li>
                    <li><a href="/html/goal_time">목표 시간 설정</a></li>
                </ul>
            </div>

            <div class="main_section">
                <div class="main_content">

                    <div class="h1_container">
                        <h1>회원관리</h1>
                    </div>
                    
                    <div class="content">

                        <!-- 회원 목록 -->
                        <div class="member_list">
                            <div class="title">
                                <div class="memberName">이름</div>    
                                <div class="memberId">학번</div>
                                <div class="non_btn"></div>  
                            </div>
                            <!-- 주석예정 -->
                            <!-- <div class="member">
                                <div class="memberName">이름</div>    
                                <div class="memberId">학번</div>
                                <button type="submit" class="btn_detail"><a href="/html/mem_detail">조회</a></button>  
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/mem_manage.js"></script>

</body>
</html>